<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>attributions</string>
		<string>beyond</string>
		<string>carousels</string>
		<string>changelog</string>
		<string>fonts</string>
		<string>forms</string>
		<string>images</string>
		<string>img</string>
		<string>javascripts</string>
		<string>menus</string>
		<string>page-structure</string>
		<string>stylesheets</string>
		<string>tables</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
</dict>
</plist>
