<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>headertoprow</string>
		<string>headertoprowfirstcol</string>
		<string>multiplecolumnheaders</string>
		<string>scope-multiple</string>
		<string>scope-offset</string>
		<string>scope-simple</string>
		<string>threeheaders</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
</dict>
</plist>
